*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    /* min-height: 600px; */
    background-image: linear-gradient(120deg, #8bb4f5 0%, #bce3f5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 270px;
    height: 450px;
    background-color: white;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card img{
    width: 100%;
    height: 30%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

h2{
    font-size: 1.3rem;
}

.textBox{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-align: center;
}

#amountBox{
    width: 80%;
    height: 11%;
    background-color: #8bb4f5;
    opacity: 0.9;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

#leftBox{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    overflow: hidden;    

}

#imgBox img{
    height: 3rem;
    width: 3rem;
    padding: 5px;
}

#paymentButton{
    width: 80%;
    height: 8.5%;
    background-color: rgb(1, 1, 54);
    color: white;
    border-radius: 10px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cancelBox a{
    text-decoration: none;
    color: rgb(70, 66, 66);
    font-weight: bold;
    font-size: 1.2rem;
}

